#astronauta {
  width: 50%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rounded-form {
  border-radius: 10px; 
  border: 2px solid #ccc; 
  padding: 20px; 
}

.rounded-form3 {
  border-radius: 10px; 
  border: 2px solid #867e7e; 
  padding: 20px;
  background-color: solid #3e3f42;;
}

.rounded-form2 {

}