html {
  height: 100%;
  width: 100%;
}

/* style.css */
p::first-letter { /* Seleciona a primeira letra de cada parágrafo */
  font-size: 3em; /* Aumenta o tamanho da fonte */
  color: darkgreen; /* Define a cor da letra como vermelha */
  float: left; /* Posiciona a primeira letra à esquerda */
  line-height: 1; /* Remove o espaçamento entre linhas da primeira letra */
}
/* style.css */
.container {
  background-image: url('Este Computador/Downloads/image.jpg'); /* Substitua pelo caminho da sua imagem */
  width: 300px;
  height: 200px;
}

img {
  width: 200px; /* Define a largura da imagem */
  height: auto; /* Define a altura da imagem automaticamente para manter as proporções */
  margin: 20px auto; /* Adiciona margens superior e inferior e centraliza a imagem */
}